.signup-container {
    display: flex;
    width: 90%;
    height: 90vh;
}
.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(201, 235, 224);
}

.first-container {
    background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20210422/pngtree-abstract-gradient-pattern-navy-blue-background-image_632934.jpg');
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding-left: 20px;
}

.second-container {
    background-color: white;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 50%; 
    padding: 10px;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-left: 10px;
}

.img {
    width: 40px;
    height: 40px;
    border-left: 4px solid rgb(4, 4, 70);
    border-radius: 50%;
}

.pics-container {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.pics-holder {
    margin-left: 5px;
}

.profile-div {
    background-color: transparent;
    margin-left: -10px;
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.description-container {
    margin-left: 5px;
}

.para {
    margin-left: 17px;
    color: rgb(160, 160, 194);
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    align-self: flex-start;
}
.link{
    text-decoration: none;
    color: rgb(33, 120, 233);
    font-family: roboto;
}
.description {
    margin-right: 10px;
    font-size: 13px;
    color: rgb(160, 160, 194);
    font-family: 'Roboto', sans-serif;
}

.heading {
    align-self: flex-start;
    color: white;
    font-family: 'Roboto', sans-serif;
}

@media screen and (min-width: 768px) {
    .pics-holder {
        align-self: center;
        margin-right: 120px;
    }
}

@media screen and (max-width: 576px) {
    .signup-container {
        flex-direction: column;
        height: 100vh;
    }

    .first-container {
        width: 100%;
        height: 50%;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .second-container {
        width: 100%;
        height: 70%; 
        border-top-right-radius: 0;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        padding: 10px;
    }

    .pics-holder {
        align-self: center;
        margin-right: 0; 
        margin-left: 0; 
    }
}
.logo{
    font-family: roboto;
    font-style: italic;
}
.sign-up{
    font-family: roboto;
}
.sign-para{
    font-family: roboto;
}
.password-container{
    display: flex;
    align-items: center;
    gap: 2px;
    border: 1px solid;
    padding: 2px;
    border-radius: 5px;
}
.form-input{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}
label{
    font-family: roboto;
}
input{
    outline: none;
    border: 1px solid;
    padding: 10px;
    border-radius: 5px;
}
.password-container input{
    width: 80%;
    margin-right: 13px;
    border: 0px solid;
    outline: none;
}
form{
    display: flex;
    flex-direction: column;
}
.btn{
    align-self: center;
    background-color: rgb(70, 70, 240);
    color: white;
    font-family: roboto;
    width: 150px;
    padding: 7px;
    border: 1px solid;
    border-radius: 5px;
    margin-top: 3px;
}
.btn:hover{
    cursor: pointer;
    background-color: blue;
}